{% extends "base.htm" %}
{% block app %}
<div class="jumbotron">
    <h2>Please Login</h2>
    <!-- Google Sign In -->
    <span class="g-signin2"
	    data-scope="openid"
	    data-clientid="634131632621-5cgf18gbn7lovdcv6omglve9prunn507"
	    data-redirecturi="postmessage"
	    data-accesstype="offline"
	    data-cookiepolicy="single_host_origin"
	    data-onsuccess="onLogin"
	    data-approvalprompt="force">
    </span>
    <div id="success-popup" class="alert alert-success" role="alert"></div>
    <div id="failure-popup" class="alert alert-danger" role="alert"></div>
    <script>
        var state = '{{STATE}}';
    </script>
    <script src="{{url_for('static', filename='./js/login.js')}}?v={{ range(0, 100000000000) | random }}"></script>
</div>
{% endblock %}
