<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{url_for('show_home')}}">Catalog App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav mr-auto"></ul> -->
        {% if not session.user %}
        <a class="btn btn-primary" href="{{url_for('show_login')}}" role="button">Login</a>
        {% endif %}
        {% if session.user %}
        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="{{ session['picture']}}" alt="profile image" class="rounded-circle avatar" alt="avatar">
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('sign_out')}}">Logout</a>
                <a class="dropdown-item" href="{{url_for('add_item')}}">Add Item</a>
                <a class="dropdown-item" href="{{url_for('add_category')}}">Add Category</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>