{% extends "base.htm" %}
{% block app %}
<div>
    <div class="col-md-12 padding-none">
        <h1>Edit Category: {{category.category_name}}</h1>
        <hr>
    </div>
    <div>
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" maxlength="50" class="form-control" name="name" placeholder="Name" required>
                </div>
                <button type="submit" class="btn btn-success" id="submit" type="submit">
                    <span aria-hidden="true"></span>Update</button>
                <a href="{{url_for('show_home')}}" class="btn btn-danger">
                    <span aria-hidden="true"></span>
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}